@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gap-gap-xs: 8px;
    --gap-gap-lg: 48px;
    --header-y-padding: 16px;
    --layout-container-fluid-x-padding: 24px;
}



body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #68e6f9, #51dcff, #74cbff, #b3b4ff, #ee96ff);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    background-color: #333;
    width: 100%;
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;
    align-items: center;
}

.header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    width: 92px;
    height: 60px;
    aspect-ratio: 23/15;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.navbar>ul {
    display: none;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    color: #EE96FF;
    align-items: flex-end;
    flex-direction: column;
    gap: var(--gap-gap-xs, 8px);
    cursor: pointer;
}

.menu-icon i {
    font-size: 48px;
    color: #EE96FF;
}

#Banner {
    padding: 5%;
}

#Banner img {
    width: 100%;
    height: auto;
    display: block;
}

#Search {}

#Search .nav-tabs {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;

}

#Search .container {
    width: 90%;
}

#Search .container ul {
    background-color: #ffffff;
}

#Search .nav-tabs .nav-item {
    flex: 1;
    text-align: center;
    margin-bottom: 0;
}

#Search .nav-tabs .nav-link {
    width: 100%;
    border-radius: 0;
}

#myTabContent {
    background-color: #ffffff;
}

@media screen and (min-width: 767px) {
    .menu-icon {
        display: none;
    }

    .header {
        width: 100%;
    }

    .navbar {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .navbar>ul {
        list-style: none;
        display: flex;
        gap: var(--gap-gap-lg, 48px);
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navbar>ul>li>a {
        display: block;
        text-decoration: none;
        font-family: "Noto Sans";
        font-size: 16px;
        color: #ffffff;
        transition: color 0.6s ease-in-out;
    }

    #Banner {
        padding: 5% 30%;
    }

}