@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gap-gap-xs: 8px;
    --gap-gap-lg: 48px;
    --header-y-padding: 16px;
    --layout-container-fluid-x-padding: 24px;
}



body {
    min-height: 100vh;
    background-color: #fff;

}

/* ==========================HEADER==================================================== */

.header {
    background-color: #333;
    width: 100%;
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;
    align-items: center;
}

.header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    width: 92px;
    height: 60px;
    z-index: 1200;
}


.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.navbar>ul {
    display: none;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

/* =================================語言列&MENU=========================================== */


.language {
    font-family: "noto sans";
    color: #333;
    display: flex;
    align-items: center;
}

.language-dropdown {
    border-radius: 16px;
    overflow: hidden;
}

.dropdown-menu.show {
    background-color: #333;
    width: 100%;
    margin-top: 1px;
    padding: 0px;
    border: none;
}

.language>img {
    margin: 8px;
    width: 24px;
    height: 24px;
}

.language-dropdown .dropdown-item:hover {
    background-color: #EE96FF !important;
    color: #fff !important;
}

.dropdown-item {
    padding: 0px;
}

.menu-toggle {
    display: none;
}

.menu-icon.open-icon {
    display: flex;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1200;
    cursor: pointer;
    font-size: 48px;
    color: #EE96FF;
    user-select: none;
}

.menu-icon.close-icon {
    display: none;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1200;
    cursor: pointer;
    font-size: 48px;
    color: #EE96FF;
    user-select: none;
}

.menu-toggle:not(:checked)~.open-icon {
    display: flex;
}

.menu-toggle:not(:checked)~.close-icon {
    display: none;
}

.menu-toggle:checked~.open-icon {
    display: none;
}

.menu-toggle:checked~.close-icon {
    display: flex;
}


.menu-toggle:checked~.nav-menu {
    display: flex;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    flex-direction: column;
    padding: 60px 20px 20px;
    overflow-y: auto;
    z-index: 1100;
}

.nav-menu {
    display: none;
}

.nav-menu li {
    padding: 8px;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.nav-menu li a {
    color: #fff;
    font-family: "Noto Sans";
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}


.menu-icon {
    display: flex;
    flex-direction: column;
    color: #EE96FF;
    align-items: flex-end;
    gap: var(--gap-gap-xs, 8px);
    cursor: pointer;
    z-index: 1100;
    user-select: none;
}

.menu-icon i {
    font-size: 48px;
    color: #EE96FF;
}

/* ==================================時段包廂選擇器=========================================== */
#schedule {
    margin: auto;
}

#Search {
    padding: 20px 0;
}

#Search .container {
    width: 90%;
    margin: 0 auto;
}


#Search .nav-tabs {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

#Search .nav-item {
    flex: 1;
    text-align: center;
}

#Search .nav-link {
    border: none;
    font-size: 20px;
    color: #aaaa;
    width: 100%;
    transition: background-color 0.3s ease;
    border-radius: 0 !important;

}

.dropdown-toggle::after {
    display: none !important;
}

.custom-dropdown-btn {
    border-bottom: 2px solid #EE96FF;
    padding-bottom: 4px;
    background: none !important;
    box-shadow: none !important;
    color: #EE96FF;
    font-size: 20px;
    padding: 0;
}

#Search .nav-link.active {
    color: #EE96FF;
    position: relative;
}

#Search .nav-link.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: calc(100% - 80px);
    height: 2px;
    background: #EE96FF;
    border-radius: 1px;
}

#Search .tab-content {
    background: white;
    padding: 24px 20px;
    margin-top: -6px;
}

#myTabContent {
    background-color: #ffffff;
}

#Search .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#Search .tab-pane {
    display: none !important;
}

#Search .tab-pane.active.show {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

#Search .dropdown-menu {
    margin: 8px;
}

#Search .dropdown-item {
    margin: 8px 16px;
    width: auto;
    color: #333;
    font-family: "Montserrat";
}

.dropdown {
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;

}

.dropdown .left,
.dropdown .right {
    color: #EE96FF;
    display: flex;
    align-items: center;
}

.custom-dropdown-btn:hover,
.custom-dropdown-btn:active,
.custom-dropdown-btn:focus,
.custom-dropdown-btn.show {
    color: #EE96FF !important;
    border-bottom: 1px solid #EE96FF;
}

#Search .dropdown-item:hover {
    background-color: #EE96FF !important;
    color: #fff !important;
}

.custom-dropdown-btn {
    margin: 0 12px;
    color: #EE96FF;
    font-size: 20px;
    border-bottom: 1px solid #EE96FF;
    background: none;
}

#Search .dropdown-menu {
    background-color: #fff;
}

.dropdown .text {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: max-content;
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
    color: #962222;
    order: 2;
    white-space: nowrap;
    z-index: 1;
}

/* =================================時間線列表=========================================== */
.schedule-container {
    position: relative;
    display: flex;
    font-family: "Montserrat";
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

.sidebar {
    gap: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.right-area {
    margin-left: 140px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1;
    min-width: 0;
}

.room {
    height: 94px;
    font-family: "noto sans";
    background-color: #fff;
    padding: 16px 10px;
    white-space: nowrap;
    padding: 12px;
    line-height: 1.4;
    font-weight: bold;
    text-align: left;
}

.room p {
    font-family: "montserrat";
    font-weight: normal;
}

.sidebar .room:nth-child(1) {
    height: 38px;
}

.right-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.time-axis {
    display: flex;
    display: flex;
    border-bottom: 1px solid #ccc;
    background: #ffffff;
    min-width: 1080px;
}

.time-slot {
    min-width: 45px;
    flex: 1;
    padding: 8px 0;
    text-align: center;
    border-left: 1px solid #ddd;
    font-size: 14px;
    user-select: none;
    background-color: #fff;
}

.time-slot:first-child {
    border-left: none;
}

.schedule-grid-wrapper {
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.schedule-grid {
    margin-top: 8px;
    flex: 1;
    display: grid;
    row-gap: 8px;
    grid-template-columns: repeat(24, 45px);
    grid-auto-rows: 94px;
    min-width: 1080px;
}

.cell {
    border-bottom: 1px dashed #9AF2E6;
    border-top: 1px dashed #9AF2E6;
}

.cell-unbook {
    border-bottom: 1px dashed #9AF2E6;
    border-top: 1px dashed #9AF2E6;
}

.booked-privacy {
    position: relative;
    border-bottom: 1px dashed #F6808F;
    border-top: 1px dashed #F6808F;
    background-color: #FED7DC;
}

.booked-public {
    position: relative;
    border-bottom: 1px dashed #5BBEB1;
    border-top: 1px dashed #5BBEB1;
    background-color: #9AF2E6;
}

.cell-unbook:hover {
    background-color: #9AF2E6 !important;
    opacity: 0.5;
}

.booked-public p,
.booked-privacy p {
    position: absolute;
    left: 4px;
    white-space: nowrap;
    overflow: visible;
    z-index: 1000;
    grid-column: span 2;
}


.title {
    font-family: "Montserrat";
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.name {
    top: 20px;
    font-family: "Noto Sans";
    font-weight: normal;
    color: #333;
    font-size: 14px;
}

.public {
    display: flex;
    align-items: center;
    bottom: 4px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #28685f;
    font-size: 14px;
    text-align: center;
}

.privacy {
    display: flex;
    align-items: center;
    bottom: 4px;
    font-family: "Montserrat";
    font-weight: normal;
    color: #BA4655;
    font-size: 14px;
    text-align: center;
}

.join {
    font-family: "Noto Sans";
    bottom: 2px;
    padding: 4px 8px;
    background-color: #5BBEB1;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.back {
    margin: auto;
    display: flex;
    padding: 12px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #EE96FF;
    background: #FFF;
    color: #EE96FF;
}

.back p {
    margin: 0px;
    display: flex;
    padding: 0 32px;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.back:hover {
    background: #EE96FF;
    color: #fff;

}

@media screen and (min-width: 767px) {

    body {
        min-height: 100vh;
        background: url('../img/BackgroundImg.svg'),
            linear-gradient(to bottom, #68e6f9, #51dcff, #74cbff, #b3b4ff, #ee96ff);
        background-repeat: no-repeat, no-repeat;
        background-size: 30%, cover;
        background-position: right bottom, center center;

    }

    .menu-icon {
        display: none;
    }

    .header {
        width: 100%;
    }

    .navbar {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


    .navbar>ul {
        list-style: none;
        display: flex;
        gap: var(--gap-gap-lg, 48px);
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navbar>ul>li>a {
        position: relative;
        padding-left: 38px;
        display: block;
        text-decoration: none;
        font-family: "Noto Sans";
        font-size: 16px;
        color: #ffffff;
        transition: color 0.6s ease-in-out;
    }

    .nav-menu li:not(.dropdown) a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-image: url('../img/microphone-pink.svg');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .nav-menu li:not(.dropdown) a:not(.dropdown-item):hover::before {
        opacity: 1;
    }

    .nav-menu li:not(.dropdown) a:not(.dropdown-item):hover .text {
        border-bottom: 1px solid #EE96FF;
        color: #EE96FF;
    }

    .dropdown-menu.show {
        background-color: #fff;
    }


    .dropdown-item.language {
        color: #333;
        display: flex;
        align-items: center;
    }

    .menu-icon {
        display: none;
    }

    .nav-item.dropdown {
        position: relative;
    }

    .nav-menu {
        display: flex !important;
        position: relative;
        flex-direction: row;
        height: auto;
        background: transparent;
        padding: 0;
    }

    .nav-menu li {
        padding: 0;
        border: none;
    }

    .nav-menu li a {
        color: #fff;
        font-size: 16px;
    }

    .menu-overlay {
        display: none !important;
    }

    .schedule-container {
        max-width: 1200px;
        overflow-x: hidden;
    }
}